#eyecatcherCursos{
	clear: both;
	height: 264px;
	.content{
		height: 264px;
		color: white;
		text-align: center;
		padding:  58px 0;
		@include contenImg;
		@include wrapp;
		div.degrade{
			top: 0;
			left: 0;
			position: absolute;
			z-index: -1;
			width: 100%;
			height: 100%;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+14,000000+100&0+39,0+39,0.58+97 */
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+87,000000+100&0+22,0.62+100 */
			background: -moz-linear-gradient(top,  rgba(0,0,0,0) 22%, rgba(0,0,0,0.52) 87%, rgba(0,0,0,0.62) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 22%,rgba(0,0,0,0.52) 87%,rgba(0,0,0,0.62) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(0,0,0,0) 22%,rgba(0,0,0,0.52) 87%,rgba(0,0,0,0.62) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#9e000000',GradientType=0 ); /* IE6-9 */


		}
		>img{
			width: 964px;
		    position: absolute;
		    transform: translatex(-45%);
		    left: 70%;
		    top: -3%;
		    z-index: -2;
		}
		h3{
             font-size: 26px;
             font-family: $font2;
             font-weight: 100;
             width: 100%;
             margin-bottom: 1px;
             margin-top: 23px;
             // @include centerAbsolute2;
             // line-height: 17px;
		}
		p{
			font-size: 14px;
			font-weight: 300;
			bottom: 69px;
			width: 210px;
			line-height: 18px;
			left: 0;
			right: 0;
		   @include centerAbsolute2;
		}
		// p{
			
		// 	bottom: -90px;
		// }
	}
}

#titleIn{
	display: inherit;
	.content{
		background: $purple3;
		text-align: center; 
	   h1{
	   	font-size: 24px;
	   	font-family: $font2;
	   	font-weight: 100;
	   	color: $blanco;
	   padding: 36px 0;
	   	strong{
	   		 font-weight: $RSemiBold;
	   	}
	  } 	
   }
   @media (min-width: 768px){
       display: none;
   }
}
div.calendar{
     width: 100%;
     display: none;
     @media (min-width: 768px){
       display: inherit;
   }
     article{
     	width: 100%;
     	.content{
     		width: 100%;
     		max-width: 1440px;
     		margin: 0 auto;
     		padding: 39px 5px;
     		@include flexFlow; 
     		span{
     			width: 16.666%;
     			text-align: center;
     			font-size: 14px;
     			@media (min-width: 992px){
				       font-size: 17px;
				       // letter-spacing: -1px;
				   }
     		}
     		span:nth-child(1){
     			font-weight: bold;
     		}
     		span:nth-child(2){
     			font-weight: bold;
     			color: $purple2;
     		}
     		span:nth-child(3),span:nth-child(4),
     		span:nth-child(5)

     		{
     			font-weight: 400;
     		}
     		span:nth-child(6){
     			a{
     				color: $purple2;
     				font-weight: 600;
     				&:hover{
     					color: $purpleLight;
     				}
     			}
     		}

     	}
     }   
 		article:last-child{
 			border-bottom: 1px solid rgba( 0, 0, 0, .1);
 		}

     article:nth-child(odd){
     	background: #f4f4f4;
     }
}
#InfoCalendar{
background: $purple3;
	>.content{
		@include flexFlow;
		padding: 0 0 16px;
		@media (min-width:1400px){
			width: 1400px;
    		margin: auto;
		}


	    article:nth-child(1) .content{
	    	border-left:none;
	    }
		article{
			display: none;
			padding: 27px 0 0;
			color: white;
			text-align: center;


			@media (min-width:768px){
				width: 16.666%;
				display: inherit;
				}
			.content{
				border-left: 1px solid rgba(  255, 255, 255, .3);
				min-height: 125px;
				width: 100%;
				padding-top: 17px;
				i{
					font-size: 29px;
					color: rgba($blanco, .3);
					margin-bottom: 7px;
					display: block;
				}
				h4{
					font-size: 14px;
					font-weight: $normal;
					margin-bottom: 14px;
					@media (min-width:1400px){
						font-size: 18px;
    					font-weight: 600;
    					margin-bottom: 19px;
					}
				}
				p{
				   font-size: 13px;
				   font-weight:  $light;	
				   letter-spacing: 1px;
				   @media (min-width:1400px){
				   	font-size: 16px;
    				font-weight: 300;
    				padding-bottom: 30px;
				   }
				}
		    }

		}
		// span:nth-child(2){
		// 	height: 130px;
		// 	margin-13px: 
		// }

	    
	}
}
#calendarIn{
	height: 404px;
	border-bottom: 4px solid $purple1;
    position: relative;
    display: inherit;
    @media (min-width:768px){
    	display: none;
    }
	.degradate{
	  	height: 150px;
	  	position: absolute;
	  	bottom: 0;
	  	z-index: 1;
	  	width: 100%;
	  	@include degradateOne;
	  }
	>.content{
		overflow: auto;
		height: 404px;
		article{
			padding: 18px; 
			width: 100%;
			border-bottom: 1px solid #a9a9a9;
			.content{
			    width: 100%;
				@include flexFlow;
				span{
					width: 50%;
					color: #999;
					font-size: 11px;
					font-family: $font2;
					font-weight: 600;
				}
				span:nth-child(1){
					// text-align: r
				}
				span:nth-child(2){
					text-align: right;
					a{
						color: #999;
						transition: color .4s;
						&:hover{
							color: $purple3;
						}
					}
				}
				h2{
					font-size: 20px;
					font-weight: 600;
					color:  $purpleTitle;
					padding: 12px 0;
				}
				.info{
					width: 100%;
					@include flexFlow;
					.dates{
						width: 33%;
						@include flexFlow;
						i{
							width: 25%;
							color: rgba($purpleTitle, .7);
							font-size: 20px;

						}
						p{
							width: 75%;
							font-size: 14px;
							font-weight: 500;
							color: #444; 
							line-height: 17px;
						}
				      }				 
						.dates:nth-child(2),.dates:nth-child(3)
						  {
						  	p{
						  		padding: 9px 0 0;
						  	}
                             
						  }  
				}
		   }	
	   }
	   article:nth-child(odd){
	   		background: #f4f4f4;
	   }
	}
}