#eyecatcherInEmpresa{
	clear: both;
	height: 264px;
	.content{
		height: 264px;
		color: white;
		text-align: center;
		padding:  58px 0;
		@include contenImg;
		@include wrapp;
		div.degrade{
			top: 0;
			left: 0;
			position: absolute;
			z-index: -1;
			width: 100%;
			height: 100%;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+14,000000+100&0+39,0+39,0.58+97 */
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+87,000000+100&0+22,0.62+100 */
			background: -moz-linear-gradient(top,  rgba(0,0,0,0) 22%, rgba(0,0,0,0.52) 87%, rgba(0,0,0,0.62) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 22%,rgba(0,0,0,0.52) 87%,rgba(0,0,0,0.62) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(0,0,0,0) 22%,rgba(0,0,0,0.52) 87%,rgba(0,0,0,0.62) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#9e000000',GradientType=0 ); /* IE6-9 */


		}
		>img{
		    width: 684px;
		    position: absolute;
		    transform: translatex(-45%);
		    left: 50%;
		    top: -27%;
		    z-index: -2;
		}
		h2{
          font-size: 12px;
          text-transform: uppercase;
          margin-bottom: 16px;
		}
		h1{
            font-family: $font2;
            font-size: 26px;
            font-weight: $RSemiBold;
		}
		h3{
             font-size: 26px;
             font-family: $font2;
             font-weight: $light;
             width: 100%;
             margin-bottom: 1px;
             // @include centerAbsolute2;
             // line-height: 17px;
		}
		p{
			font-size: 14px;
			font-weight: 300;
			bottom: 31px;
			width: 210px;
			line-height: 18px;
			left: 0;
			right: 0;
		   @include centerAbsolute2;
		}
		// p{
			
		// 	bottom: -90px;
		// }
	}
}

#InfoEmpresa{
background: $purple3;
	>.content{
		@include flexFlow;
		padding: 25px 0 16px;
		article{
			width: 49%;
			padding: 27px 18px 0;
			color: white;
			text-align: center;
			.content{
				min-height: 135px;
				i{
					font-size: 29px;
					color: rgba($blanco, .3);
					margin-bottom: 7px;
					display: block;
				}
				h4{
					font-size: 14px;
					font-weight: $normal;
					margin-bottom: 14px;
				}
				p{
				   font-size: 13px;
				   font-weight:  $light;	
				   letter-spacing: 1px;
				}
		    }

		}
		// span:nth-child(2){
		// 	height: 130px;
		// 	margin-13px: 
		// }
		span.line{
			border-left: 1px solid rgba($blanco, .5);
		    height: 130px;
			margin: 13px 0;  
		}
		article:nth-child(1) .content{
		    	border-bottom: 1px solid rgba($blanco, .5);
		    	
		    }
		article:nth-child(3) .content{
		    	border-bottom: 1px solid rgba($blanco, .5);
	
		    }    
	}
}


#resumeEmpresa{
    padding: 36px 0 0;
	background: #f6f6f6;
	border-bottom: 3px solid $purple1;
    article:nth-child(1){
    	text-align: center;
    	color: $purple2;
    	margin-bottom: 32px;
    	h3{
    		font-size: 12px;
    		font-weight: 500;
    		font-style: italic;
    		color: #878787;
    		margin-bottom: 27px;
    	}
    	h2{
    		font-size: 24px;
    		font-weight: 200;
    		font-family: $font2;
    		margin-bottom: 27px;

    		strong{
    			font-weight: 600;
    		}
    	}
    }

    article:nth-child(2){
    	width: 100%;
    	overflow-x: auto;
    	padding-bottom: 27px;
      .contentAside{ 
      	padding: 0 0 0 18px;
    	@include flexFlow;
    	overflow-y: scroll;
    	width: 840px;
    	aside{
    		position: relative;
    		width: 33%;
    		padding: 0 18px 0 0;
    		img{
    			width: 100%;
    			margin-bottom: 33px;
    		}
    		h3{
    			font-size: 19px;
    			font-weight: 100;
    			line-height: 26px;
    			margin-bottom: 33px;
    			color: $purple2;
    		}
    		p{
    			font-weight: 100;
    			color: $negro;
    			font-size: 14px;
    			line-height: 25px;
    			margin-bottom: 27px;
    			button{
    				padding: 4px 24px;
    			}
    		}
    		span{
    			position: absolute;
    			background: $purple2;
    			color: $blanco;
    			text-align: center;
    			top: 122px;
               left: 12px;
    			padding: 18px ;
    			font-size: 11px;
    			font-family: $font2;
    			font-weight: 600;
    		}
    	}
      }	
    }

}