  /*
    Flaticon icon font: Flaticon
    Creation date: 24/05/2016 21:08
    */

@font-face {
  font-family: "Flaticon";
  src: url("css/fonts/Flaticon.eot");
  src: url("css/fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("css/fonts/Flaticon.woff") format("woff"),
       url("css/fonts/Flaticon.ttf") format("truetype"),
       url("css/fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("css/fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;

       font-style: normal;
}



.flaticon-arrows:before { content: "\f100"; }
.flaticon-back:before { content: "\f101"; }
.flaticon-cancel:before { content: "\f102"; }
.flaticon-circle:before { content: "\f103"; }
.flaticon-down-arrow:before { content: "\f104"; }
.flaticon-interface:before { content: "\f105"; }
.flaticon-new-email-outline:before { content: "\f106"; }
.flaticon-next:before { content: "\f107"; }