  /*
    Flaticon icon font: Flaticon
    Creation date: 24/05/2016 21:08
    */

@font-face {
  font-family: "Flaticon";
  src: url("css/fonts/Flaticon.eot");
  src: url("css/fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("css/fonts/Flaticon.woff") format("woff"),
       url("css/fonts/Flaticon.ttf") format("truetype"),
       url("css/fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("css/fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;

       font-style: normal;
}

.flaticon-arrows:before { content: "\f100"; }
.flaticon-arrows-1:before { content: "\f101"; }
.flaticon-arrows-2:before { content: "\f102"; }
.flaticon-arrows-3:before { content: "\f103"; }
.flaticon-back:before { content: "\f104"; }
.flaticon-bars:before { content: "\f105"; }
.flaticon-business-presentation:before { content: "\f106"; }
.flaticon-check-box:before { content: "\f107"; }
.flaticon-clock:before { content: "\f108"; }
.flaticon-clock-circular-outline:before { content: "\f109"; }
.flaticon-close-button:before { content: "\f10a"; }
.flaticon-commenting:before { content: "\f10b"; }
.flaticon-dialogue-balloon:before { content: "\f10c"; }
.flaticon-envelope:before { content: "\f10d"; }
.flaticon-linkedin:before { content: "\f10e"; }
.flaticon-mouse:before { content: "\f10f"; }
.flaticon-multiple-users-silhouette:before { content: "\f110"; }
.flaticon-next:before { content: "\f111"; }
.flaticon-note:before { content: "\f112"; }
.flaticon-patent:before { content: "\f113"; }
.flaticon-social:before { content: "\f114"; }
.flaticon-time:before { content: "\f115"; }
.flaticon-time-1:before { content: "\f116"; }
.flaticon-tool:before { content: "\f117"; }