header{
	nav{ 
		background: $blanco;
		height: 90px;
		border-right: 4px solid $purple1;
		box-shadow: none;
		@include transitionHeight ;
		@media (min-width: 991px){
			height: 184px;
			border-right: none;
			border-bottom: 4px solid $gris;
		}
		.nav-wrapper{
			@include wrapp;
			>a:nth-child(1){
				transform: inherit;
				top: 11px;
				@media (min-width: 991px){
					top: 34px;
				}
				  @media (min-width: 1140px){
				  	top: 24px;
				  }
				@include absolouteLeft;
				>img{
					width: 116px;
					@include transitionWidht;
					@media (min-width: 991px){
						width: 163px;
					  }
					  @media (min-width: 1140px){
                            width: 213px;
					  }
				}
			}
			>a:nth-child(2){
				top: 21px;
				@include absolouteRight;
				i{
					color: $purple1;
					border: 1px solid $purple1;
					@include circleIcon;
					@include transitionBackground;
					&:hover{
						background: $purple1;
                        color: $blanco;
					}
				}
			}
			ul{
				@include cero;
				>a:nth-child(1){
					top: 16px;
					@include cero;
					@include absolouteRight;
						&:hover{
							background: transparent;
						}
					i{
						color: $purple1;
						border: 1px solid $purple1;
						@include circleIcon;
						@include transitionBackground ;
						font-size: 10px;
						padding: 16px 11px;
						font-weight: bold;

						&:hover{
							background: $purple1;
	                        color: $blanco;
					      }
					}
				}
			}
			>ul{
             >li{
             	>a{
					width: 100%;
					border-bottom: 1px $gris solid;
					color: $negro;
					font-size: 16px;
					font-weight: $semiBold;
					text-decoration: none;
					@include cero;
					&:hover{
						background: transparent;
					  }

				 span{
				 	float: right;
				 	color: $purple1;
				 	line-height: 62px;
				 	font-size: 17px;
				 	transition: transform .4s; 
				 	 -ms-transform: rotate(90deg);
				      -webkit-transform: rotate(90deg);
				      transform: rotate(90deg);
				 }
				}
              }
			}
			>ul:nth-child(3){
				margin-top: 87px;
				height: 94px;
				position: relative;
				>li{
					// height: 100%;
					padding: 0 18px;
					border-bottom: 6px solid white;
					transition: border .4s;
					&:hover{
				 	 border-bottom: 6px $purple1 solid;	
				 	 >a{
				 	 	color: $purple1;
				 	 	
				 	 }
					}
					>a{
						border: 0;
						font-size: 18px;
						color: $negro;
						@include transitionColor;
						span{
							margin-left: 10px;
							font-size: 14px;
						}
					}
					>ul{
						@include cero;
						display: none;
						background: white;
						opacity: 0;
						position: absolute;
						margin-top:33px;
						width: 110vw;
						border-radius:0;
						 padding: 10% 35%;
						left: 50%;
						float: inherit;
						transform: translatex(-68%);
						height: 294px;
						-webkit-box-shadow: none;
						box-shadow: none;
						transition: opacity .4s;

						>li{
							display: inline-block;
							float: inherit;
							// margin-left: 7%;
							width: 33%;
							a{
								padding:0;
								font-size: 18px;
					            font-weight: $semiBold;
					            color: $negro;
					            display: block;
							}
							i{
								color: #9e9e9e;
								font-weight: $normal;
								font-size: 16px;
								line-height: 22px;
							}
						}
					}
				}
				>li:last-child{
					height: 40px;
					border-radius: 20px;
					border: $purple1 1px solid;
					@include transitionBackground;
					&:hover{
						background: $gris;

						>a {
							color: $purple1;
						}
					}
					>a{
						border: 0;
						font-weight: $normal;
						color: white;
						i{
						    display: inline-block;
						    font-size: 22px;
						    font-weight: 800;
						    vertical-align: middle;
						    margin-right: 10px;
						}
					}
				}
				
			}
			>ul:nth-child(4){
				height: 100vh;
				padding-top: 88px;
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+43,ffffff+43,62269e+44 */
				background: rgb(255,255,255); /* Old browsers */
				background: -moz-linear-gradient(top,  rgba(255,255,255,1) 43%, rgba(255,255,255,1) 43%, rgba(98,38,158,1) 44%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 43%,rgba(255,255,255,1) 43%,rgba(98,38,158,1) 44%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom,  rgba(255,255,255,1) 43%,rgba(255,255,255,1) 43%,rgba(98,38,158,1) 44%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#62269e',GradientType=0 ); /* IE6-9 */


				>li{
					background: white;
					display: inline-block;
					border-right: 4px solid $gris;
					width: 100%;
					transition: all .4s;
					@include paddingHorizontal;
					&:hover{
						background: $gris;
						border-right: 4px solid $purple1;
						>a{
							color: $purple1;
						}
					}
				  // >li:hover{
				  // 	ul{
				  // 		display: block;
				  // 	}
				  // }	
					ul{ 
						display: none;
						border: 0;
						margin-bottom: 10px;
						box-shadow: none;
						position: inherit;
						width: 100%;
						background: transparent;
						li{
							line-height: 35px;
							a{

								font-size: 14px;
								font-weight: $normal;
								line-height: inherit;
								@include cero;
								height: auto;
								&:hover{
									background: transparent;
									color: $purple1;
								}
							}
						}
					}
				}
				>li:last-child{
					background: $purple1;
					border: 0;
					@include transitionBackground;
					&:hover{
						background: $gris;

						>a {
							color: $purple1;
						}
					}
					>a{
						border: 0;
						font-weight: $normal;
						color: white;
						i{
						    display: inline-block;
						    font-size: 22px;
						    font-weight: 100;
						    vertical-align: middle;
						    margin-right: 10px;
						}
					}
				}
			}
		}
	}
}

footer{

	color: $blanco;
	.content:nth-child(1){
	    background: $purple5;
		text-align: center;
		padding: 36px 18px 18px;
		@media (min-width:992px){
			padding: 36px 68px 48px;
		}
		article:nth-child(1){
			@media (min-width:1200px){
				width: 1140px;
				padding: 0 18px	;
				margin: auto;
			}
			ul{
				@include cero;
				@media (min-width: 750px){
					@include flexFlow;
				}
				li{
					@media (min-width: 750px){
					width: 40%;
					padding-right:50px;
					}

					h2{
						font-family: $font2;
						font-weight: $RSemiBold;
						font-size: 18px;
						margin-bottom: 21px;
						@media (min-width: 780px){
						text-align: left;
						}
						@media (min-width: 992px){
						font-size: 27px;
						margin-bottom: 51px;
						margin-top: 70px;
						}
					}
					p{
						font-size: 12px;
						font-weight: 300;
						margin-bottom: 36px;
						@media (min-width: 780px){
						text-align: left;
						}
						@media (min-width: 992px){
						text-align: left;
						color: rgba($blanco, .7);
						font-size: 16px;
					    line-height: 27px;
					    letter-spacing: .2px;
					    
						}
					}
				}
				li:nth-child(3){
					@media (min-width: 750px){
					width: 20%;
					}
					h2{
						margin-bottom: 36px;
					}
					p{
						a{
							border-radius: 25px;
						   background: #315ab9;
						   color: white;
						   border-radius: 24px;
						   padding: 9px 36px;
						   font-family: $font2;
							font-weight: $RSemiBold;
							font-size: 15px;
							opacity: 1;
							transition: opacity .4s;
							&:hover{
								opacity: .4;
							}
						}
					}
				}
			}
		}
	}
	.content:nth-child(2){
		@media (min-width:750px){
			background-color: #121117;
			border-top:1px solid rgba($blanco, .2);
			padding: 0px 18px 18px;

		}
		@media (min-width:992px){
			padding: 0px 68px 0;
		}
		 article{
		 	@include flexFlow;
		 	@media (min-width:1200px){
		 		width: 1140px;
		 		padding: 0 18px;
    			margin: auto;
		 	}
		 	ul{
		 		width: 100%;
		 		@include cero;
		 		text-align: center;
		 		@media (min-width:750px){
		 			width: 50%;
		 		}
		 		li{
			 		@media (min-width:750px){
			 			display: inline-block;
			 			span{
			 				opacity: 0.5 !important;
			 			}
			 		}
		 			a{
		 				color: white;
<<<<<<< HEAD
		 				
		 				opacity: .5;
=======
		 				text-decoration: underline !important;
		 				opacity: .7;
>>>>>>> 7cecfdad55055c4b130dd3b33b548c71078c0f8d
		 				font-size: 12px;
		 				letter-spacing: .3px;
		 				transition: opacity .4s;
		 				font-weight: 300;
		 				@media (min-width:750px){
		 				text-decoration: none !important;
		 				}
		 				@media (min-width:850px){
		 					font-size: 14px;
		 					opacity: .7;
		 				}
		 				&:hover{
		 					opacity: 1;
		 				}
		 			}
		 			span{
		 				display:none;
		 				@media (min-width:750px){
							display:block;
		 				}
		 			}
		 		}
		 	}
			 ul:nth-child(1){
			 	background: $purple5; 
			 	padding-bottom: 42px;
			 	@media (min-width:750px){
			 	text-align: left;
			 	padding-top: 50px;
			 	}

			 }
			 ul:nth-child(2){
			 	background: $purple4;
			 	padding: 36px;
			 	@media (min-width:750px){
			 		padding: 0;
			 		text-align: right;
			 		padding-top: 30px;
			 		background-color:transparent;

			 	}
				 li{
				 	font-size: 12px;
				 	letter-spacing: .3px;
				 	font-weight: 300;
				 	color: rgba($blanco, .7);
				 	line-height: 22px;
<<<<<<< HEAD
				 	br{
				 		display: inherit;
				 	}
				 	@media (min-width:750px){
				 		font-size: 12px;
				 		br{
				 			display: none;
				 		}
=======
				 	@media (min-width:850px){
				 		font-size: 14px;
>>>>>>> 7cecfdad55055c4b130dd3b33b548c71078c0f8d
				 	}
				 	img{
				 		width: 62px;
				 		margin-bottom: 9px;
				 		@media (min-width:750px){
				 			width: 52px;
				 		}
				 	}
				 }
				 li:nth-child(1){
<<<<<<< HEAD
				 	float: inherit;
				 	@media (min-width:780px){
=======
				 	float: left;
				 	width: 100%;
				 	@media (min-width:750px){
>>>>>>> 7cecfdad55055c4b130dd3b33b548c71078c0f8d
				 		float: right;
				 		width:50px;
				 	}
				 }
				 li:nth-child(2){
				 	@media (min-width:750px){
				 	margin-top: 20px;
<<<<<<< HEAD
    				padding-right: 7px;
=======
    				padding-right: 0px;
    				}
    				@media (min-width:850px){
    				padding-right: 30px;
>>>>>>> 7cecfdad55055c4b130dd3b33b548c71078c0f8d
    				}

				 }
				 
			 }
		 }
	}
}






