
@import "mixins";
@import "variables";
// Reset
@import "normalize";
@import "scaffolding";

// materialize
@import "css/materialize.css";

//layouts
@import "interface";
@import "home";

// @import "css/bootstrap.min.css";
@import "css/font-awesome.min.css";
@import "flaticon";
	