#eyecatcherIn{
	clear: both;
	height: 264px;
	.content{
		height: 264px;
		color: white;
		text-align: center;
		padding:  58px 0;
		@include contenImg;
		@include wrapp;
		div.degrade{
			top: 0;
			left: 0;
			position: absolute;
			z-index: -1;
			width: 100%;
			height: 100%;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+14,000000+100&0+39,0+39,0.58+97 */
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+87,000000+100&0+22,0.62+100 */
			background: -moz-linear-gradient(top,  rgba(0,0,0,0) 22%, rgba(0,0,0,0.52) 87%, rgba(0,0,0,0.62) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 22%,rgba(0,0,0,0.52) 87%,rgba(0,0,0,0.62) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(0,0,0,0) 22%,rgba(0,0,0,0.52) 87%,rgba(0,0,0,0.62) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#9e000000',GradientType=0 ); /* IE6-9 */


		}
		>img{
			width: 454px;
		    position: absolute;
		    transform: translatex(-45%);
		    left: 50%;
		    top: -33%;
		    z-index: -2;
		}
		h2{
          font-size: 12px;
          text-transform: uppercase;
          margin-bottom: 16px;
		}
		h1{
            font-family: $font2;
            font-size: 26px;
            font-weight: $RSemiBold;
		}
		h3{
             font-size: 26px;
             font-family: $font2;
             font-weight: $light;
             width: 100%;
             margin-bottom: 1px;
             // @include centerAbsolute2;
             // line-height: 17px;
		}
		p{
			font-size: 14px;
			font-weight: 300;
			bottom: 31px;
			width: 210px;
			line-height: 18px;
			left: 0;
			right: 0;
		   @include centerAbsolute2;
		}
		// p{
			
		// 	bottom: -90px;
		// }
	}
}

#Info{
background: $purple3;
	>.content{
		@include flexFlow;
		padding: 36px 0;
		article{
			width: 50%;
			padding: 18px;
			color: white;
			text-align: center;
			.content{
				i{
					font-size: 29px;
					color: rgba($blanco, .3);
				}
				h4{
					font-size: 14px;
					font-weight: $normal;
				}
				p{
				   font-size: 14px;
				   font-weight:  $light;	
				}
		    }
		    .content:nth-child(1){
		    	border-bottom: 1px solid rgba($blanco, .3);
		    }	
		    .content:nth-child(2){
		    	border-left: 1px solid rgba($blanco, .3);
		    }	
		    .content:nth-child(3){}	
		    .content:nth-child(4){}		
		}
	}
}


