// ::-webkit-scrollbar { 
//   width: 0px; height: 3px;
// }
// @media (min-width: 720px){
//         ::-webkit-scrollbar { 
//         width: 3px; height: 3px;
//       }
//     }



body {
  background: white;
  overflow-x: hidden;
  margin: 0;
  color:#010002;
  font-family: $font1;
  ::-webkit-scrollbar { 
  width: 0px; height: 3px;
  }
}
a{
            text-decoration: none !important;
}
.hidden{
  @include displayNone;
}

.show{
  opacity: 1 !important;
 @include displayShow;
}
h1,h2,h3,h4,h5, p, span{
 @include cero; 
}
.overflow{
    overflow: hidden !important;
  }

i{
  font-style: normal;
  -webkit-font-smoothing: antialiased  !important;
}
/*
When creating your CSS selector,
change "brown" to something of your choosing
*/
.waves-effect.waves-black .waves-ripple {
 /* The alpha value allows the text and background color
 of the button to still show through. */
  background-color: rgba(0, 0, 0, 1);
}
    .rotate180{
      -ms-transform: rotate(-180deg);
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg);
      color: #b9b9b9 !important;
    } 
     .rotate0{
      -ms-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      color: $gris2;
    } 

.btnContent {
  position: relative;
  z-index: 1;
  text-align: center;
}

/* General button style (reset) */
.btnColor {
  border: 2px solid $purple1;
  text-transform: uppercase;
  font-size:12px;
  color: $purpleTitle;
  background: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 8px 24px ;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  @media (min-width:992px){
    border-radius:30px;
    padding:14px 40px;
    border: 3px solid $purple1;

  }
  @media (min-width:1400px){
    padding: 16px 58px;
  }
}


.btnColor:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-1d:after {
  width: 0;
  border-radius: 20px;
  height: 103%;
  top: 50%;
  left: 50%;
  background: $purple1;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
   @media (min-width:992px){
    border-radius:40px;
    padding:14px 40px;
  }
  @media (min-width:1400px){
    padding: 16px 58px;
    border-radius:40px;
  }

}

.btn-1d:hover,
.btn-1d:active {
  color: white;
}

.btn-1d:hover:after {
  width: 102%;
  opacity: 1;
}

.btn-1d:active:after {
  width: 101%;
  opacity: 0;
  background: $purple1 !important;
}




/* General button style (reset) */
.btnColor2 {
  border: 2px solid white;
  text-transform: uppercase;
  font-size:12px;
  color: white;
  background: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 8px 24px ;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btnColor2:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-1c:after {
  width: 0;
  border-radius: 30px;
  height: 103%;
  top: 50%;
  left: 50%;
  background: white;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.btn-1c:hover,
.btn-1c:active {
  color: $purple1;
}

.btn-1c:hover:after {
  width: 102%;
  opacity: 1;
}

.btn-1c:active:after {
  width: 101%;
  opacity: 0;
  background: transparent !important;
}


/* General button style (reset) */
.btnColor3 {
  border: 2px solid $purple1;
  text-transform: uppercase;
  font-size:12px;
  color: $purple1;
  background: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 8px 24px ;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btnColor3:after {
  content: '';

  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-1f:after {
  width: 0;
  border-radius: 20px;
  height: 103%;
  top: 50%;
  left: 50%;
  background: $purple1;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.btn-1f:hover,
.btn-1f:active {
  color: white;
}

.btn-1f:hover:after {
  width: 102%;
  opacity: 1;
}

.btn-1f:active:after {
  width: 101%;
  opacity: 0;
  background: $purple1 !important;
}

/* General button style (reset) */

.btnColor4 {
  border: 2px solid $purple1;
  text-transform: uppercase;
  font-size:12px;
  color: white;
  background: $purple1;
  border-radius: 20px;
  cursor: pointer;
  padding: 8px 24px ;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  @media (min-width:992px){
    border-radius:30px;
    padding:14px 40px;
  }
  @media (min-width:1400px){
    padding: 16px 58px;
  }
}

.btnColor4:after {
  content: '';

  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-4f:after {
  width: 0;
  border-radius: 20px;
  height: 103%;
  top: 50%;
  left: 50%;
  background: white;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.btn-4f:hover,
.btn-4f:active {
  color: $purple1;
  background-color:white;
}

.btn-4f:hover:after {
  width: 102%;
  opacity: 1;
}

.btn-4f:active:after {
  width: 101%;
  opacity: 0;
  background: white !important;
}

//button5//
.btnColorZ {
  border: 3px solid $purple1;
  text-transform: uppercase;
  font-size:12px;
  color: $purple1;
  background: none;
  border-radius: 40px;
  cursor: pointer;
  padding: 8px 24px ;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btnColorZ:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-1z:after {
  width: 0;
  border-radius: 40px;
  height: 103%;
  top: 50%;
  left: 50%;
  background: $purple1;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.btn-1z:hover,
.btn-1z:active {
  color: white;
}

.btn-1z:hover:after {
  width: 102%;
  opacity: 1;
}

.btn-1z:active:after {
  width: 101%;
  opacity: 0;
  background: $purple1 !important;
}



