#eyecatcher{
	.two{
		height: 261px;

		@media (min-width:992px){
			padding-top:160px;
			height: 471px;
		}

		.text{
			width: 50%;
			margin: auto;
		}
		@media (min-width:992px){
			.text{
				margin-left:1%;
			}
		}

		@media (min-width:1150px){
			.text{
				margin-left:13%;
			}
		}


		h1{
			margin:auto;
			line-height: 32px;
			margin-bottom: 10px;

			span{
				font-weight: 200;
			}
		}

		h3{
			margin: auto;
    		line-height: 20px;
		}

			@media (min-width: 992px){
				h1, h3{
				text-align: left;
				padding-left:20px;
				margin:0;

				}

				h1{
					font-size: 40px;
				}
				h3{
					font-size: 24px;
					line-height: 36px;
					margin:0;
					width: 564px;
					margin-top:20px;
					position: relative !important;
				}
			}
			
			@media (min-width:992px){
				h1{font-size:47px;}
				h3{margin-top:37px;}

			}
			@media (min-width: 1400px){
				h1,h3{
					padding-left: 0px;
				}	
			}

		img{
			width: 1029px;
		    transform: translatex(-59%);
		    top: 0;
		}
		@media (min-width:600px){
			img{
			transform: translatex(-50%);
			}
		}
		@media (min-width:992px){
			img{
				width: 1920px;
			}
		}
	}
}

.eyecatcher-in{
	height:264px !important;
}
@media (min-width:992px){
	.eyecatcher-in{
		height: 470px !important;
	}
}


main{
	@include flexFlow;
}

.firstSection{
	width:100%;

	article:nth-child(1){
	}
	@media (min-width:1150px){
		article:nth-child(1){
			padding-left:26% !important;
			padding-right:5% !important;
		}
	}
}

@media (min-width:750px){
	.firstSection{
	width:50% !important;
	}
}
@media (min-width:992px){
	.firstSection{
    padding: 30px 20px;
	}
}

.coach-descript{
	background-color:white !important;
	padding:20px 15px;
	height:inherit !important;

	h4{
		color:$purpleTitle;
		text-align: left;
		font-weight: 300;
		font-size: 18px;
		line-height: 26px;
    	margin:30px 0 30px 0;
	}

	h2{
		color:$purpleTitle;
		text-align: center;
	}
	@media (min-width:992px){
		h2{text-align:left;}
	}

	h5{
		color:$purpleTitle;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-bottom: 15px;
		font-size: 12px;
		margin-top: 20px;
	}
	@media (min-width:992px){
		h5{text-align:left; margin-bottom:30px;}
	}


	p{
		color: black;
		font-weight: 400;
		text-align:left;
		margin-bottom: 27px;
	}
}

@media (min-width:750px){
	.coach-descript{
		height: 480px !important;
	}
}

.button-2-column{
	margin:auto;
	@include flexFlow;


	.btn-in{
		width:47%;
	}

	.btn-in:nth-child(1){
		margin-right: 4%;
		text-align: right;
	}

}

.secondSection {
	width:100%;
	.content{
		article{
			background: $purple3;
			color: white;
			ul{
				width: 90%;
	    		margin: auto;
				li{
					margin-bottom: 20px;
					strong{
						font-size:16px;
						line-height: 30px;
					}
					span{
						font-weight: 300;
						line-height: 12px;
					}

					i.flaticon-check-box{
						font-size: 23px !important;
						color:$purpleLight;
						float: left;
						margin:10px 20px 18px 0px;
					}
				}
			}
			@media (min-width:750px){
				ul{
					padding: 20px 0 40px; 
				}
			}

			@media (min-width:992px){
				ul{
				padding:80px 0;
				}
			}
		}
		@media (min-width:750px){
				article{
					height: 480px;
				}
		}

	}
}

@media (min-width:750px){
	.secondSection{
	width:50%;
	}
}

.thirdSection{
	width:100%;
	background-color:#f2f2f2;
	.content{
		width: 100%;
		max-width: 1400px;
		margin:auto;
	@include flexFlow;
		article{
		padding: 0 17px 36px 17px !important;

			p, h2, h3, h4{
				color:$purple2;
			}		
			p{
				text-align: center;
				font-size: 17px !important;
    			font-weight: 300 !important;

			}

			h3{
				font-weight: 700 !important;
			    margin-bottom: 24px ;
			    font-size: 22px !important;
			    text-align:center;
			    font-family: "Raleway" !important;
			}

			p{
			    font-weight: 600;
			    margin-bottom: 24px;
			    font-size: 22px;
			}

			.logosImg{
				width: 300px;
				margin:auto;
					@media (min-width:750px){
						margin-top: 50px;
					}

				img{
					float: left;
					border: 3px solid #aaa;
					border-radius:50%;
					margin-bottom: 20px;
					@media (min-width:750px){
						width: 100px;
					}
					@media (min-width:992px){
						width: 120px;
					}
				}

				img:nth-child(1){
					margin-right:6%;
				}
				img:nth-child(3){
					margin-right:6%;
				}
			}
			@media (min-width:750px){
				.logosImg{
					width: 100%;
				}
				img:nth-child(2){
					margin-right:6%;
				}
			}
		}

	}
	@media (min-width:750px){
		article:nth-child(1){
			width: 30% !important;		
		}
		article:nth-child(2){
			width: 70% !important;
				
		}
	}
}

#fiveSection{
	.content{
		article.article-five{
			position:relative;
			padding:0px 25px 50px 25px;
			overflow: hidden;
    		height: 350px;
			img{
			width: 533px;
    		position: absolute;
    		transform: translatex(-35%);
		    left: 50%;
		    top: 0%;
		    z-index: -2;
		    overflow: hidden;
			}
			p{
				color: white;
			    vertical-align: middle;
			    /* height: 300px; */
				font-size: 15.7px;			    
				font-weight: 200;
			    font-style: italic;
			    font-family: 'Raleway';
			    letter-spacing: 1px;
			    text-align: center;
			    padding-top: 33%;
				img{
					margin-top: 30px;
					width: 135px;
    				height: 33px;
					position:inherit;
					transform: inherit;
				}

			}
		}
	}
}


