//fonts
$font2: "Raleway";
$font1: 'Source Sans Pro', sans-serif;

$thing: 200;
$light: 300;
$normal: 400;
$semiBold: 600;
$bold: 700;
$ultraBold: 900;

$thingItalic: 200italic;
$lighItalic: 300italic;
$normalItalic: 400italic;
$semiBoldItalic: 600italic;
$boldItalic: 700italic;
$ultraBoldItalic: 900italic;

$RThing: 100;
$RExtraLight: 200;
$RLight: 300;
$RNormal: 400;
$RMedium: 500;
$RSemiBold: 600;
$RBold: 700;
$RSExtraBold: 800;
$RUltraBold: 900;

$RThingItalic: 100italic;
$RExtraLightItalic: 200italic;
$RLightItalic: 300italic;
$RNormalItalic: 400italic;
$RMediumItalic: 500italic;
$RSemiBoldItalic: 600italic;
$RBoldItalic: 700italic;
$RSExtraBoldItalic: 800italic;
$RUltraBoldItalic: 900italic;



//color
$blanco: #ffffff;
// 121117
$gris: #f5f5f5;
$gris2: #393939; 
$purple1: #62269e;
$purple2: #352364;
$purple3: #221250;//* Btn & text
$purple4: #1d1c23;
$purple5: #121117;
$purpleTitle: #220e5c;
$purpleLight: #695e85;
$purple6:#200c5c;
$table : #361b86;

$grisP: #26252d;
$negro: #000000;
