    /*
    Flaticon icon font: Flaticon
    Creation date: 16/06/2016 19:42
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-arrows:before { content: "\f100"; }
.flaticon-arrows-1:before { content: "\f101"; }
.flaticon-arrows-2:before { content: "\f102"; }
.flaticon-arrows-3:before { content: "\f103"; }
.flaticon-back:before { content: "\f104"; }
.flaticon-bars:before { content: "\f105"; }
.flaticon-business-presentation:before { content: "\f106"; }
.flaticon-check-box:before { content: "\f107"; }
.flaticon-clock:before { content: "\f108"; }
.flaticon-clock-circular-outline:before { content: "\f109"; }
.flaticon-close-button:before { content: "\f10a"; }
.flaticon-commenting:before { content: "\f10b"; }
.flaticon-dialogue-balloon:before { content: "\f10c"; }
.flaticon-envelope:before { content: "\f10d"; }
.flaticon-linkedin:before { content: "\f10e"; }
.flaticon-mouse:before { content: "\f10f"; }
.flaticon-multiple-users-silhouette:before { content: "\f110"; }
.flaticon-next:before { content: "\f111"; }
.flaticon-note:before { content: "\f112"; }
.flaticon-patent:before { content: "\f113"; }
.flaticon-social:before { content: "\f114"; }
.flaticon-time:before { content: "\f115"; }
.flaticon-time-1:before { content: "\f116"; }
.flaticon-tool:before { content: "\f117"; }
    
    $font-Flaticon-arrows: "\f100";
    $font-Flaticon-arrows-1: "\f101";
    $font-Flaticon-arrows-2: "\f102";
    $font-Flaticon-arrows-3: "\f103";
    $font-Flaticon-back: "\f104";
    $font-Flaticon-bars: "\f105";
    $font-Flaticon-business-presentation: "\f106";
    $font-Flaticon-check-box: "\f107";
    $font-Flaticon-clock: "\f108";
    $font-Flaticon-clock-circular-outline: "\f109";
    $font-Flaticon-close-button: "\f10a";
    $font-Flaticon-commenting: "\f10b";
    $font-Flaticon-dialogue-balloon: "\f10c";
    $font-Flaticon-envelope: "\f10d";
    $font-Flaticon-linkedin: "\f10e";
    $font-Flaticon-mouse: "\f10f";
    $font-Flaticon-multiple-users-silhouette: "\f110";
    $font-Flaticon-next: "\f111";
    $font-Flaticon-note: "\f112";
    $font-Flaticon-patent: "\f113";
    $font-Flaticon-social: "\f114";
    $font-Flaticon-time: "\f115";
    $font-Flaticon-time-1: "\f116";
    $font-Flaticon-tool: "\f117";